
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form method="post">
    <button name="accion" value="CREAR" class="btn btn-success">CREAR BBDD y Colection</button>
</form>


<h3>@Html.ActionLink("Ver Peliculas", "VerPeliculas")</h3>


<h3 style="color: green">@ViewData["MENSAJE"]</h3>
<h3 style="color: green">@ViewData["MENSAJE1"]</h3>
<h3 style="color: green">@ViewData["MENSAJE2"]</h3>

